Baixando dados do DATASUS
Baseado em : https://medium.com/psicodata/baixando-e-processando-dados-do-datasus-sobre-suic%C3%ADdio-com-python-656afa17f6ad

Importante: Rodar no Python 3.9.7

#Busca as bases de dados no Datasus

In [3]:

from pysus.online_data.SIM import download

estados =['SP','RJ']

anos = [2017, 2018]

banco={}

for y in anos:
 for uf in estados: 
    banco[uf, y] = download(state = uf, year=y)
    print('Banco de ' + str(y) + ' de ' + str(uf) + ' baixado!')

2023-01-17 21:00:39.075 | DEBUG    | pysus.online_data.SIM:download:62 - Stablishing connection with ftp.datasus.gov.br.
220 Microsoft FTP Service
2023-01-17 21:00:39.119 | DEBUG    | pysus.online_data.SIM:download:64 - Changing FTP work dir to: /dissemin/publicos/SIM/CID10/DORES
2023-01-17 21:02:09.406 | INFO     | pysus.online_data.SIM:download:79 - Data stored as parquet at /Users/luisurso/pysus/SIM_DOSP2017_.parquet
2023-01-17 21:02:09.412 | DEBUG    | pysus.online_data.SIM:download:82 - DOSP2017.DBC removed
2023-01-17 21:02:09.555 | DEBUG    | pysus.online_data.SIM:download:62 - Stablishing connection with ftp.datasus.gov.br.
220 Microsoft FTP Service
2023-01-17 21:02:09.589 | DEBUG    | pysus.online_data.SIM:download:64 - Changing FTP work dir to: /dissemin/publicos/SIM/CID10/DORES

Banco de 2017 de SP baixado!

2023-01-17 21:02:50.123 | INFO     | pysus.online_data.SIM:download:79 - Data stored as parquet at /Users/luisurso/pysus/SIM_DORJ2017_.parquet
2023-01-17 21:02:50.125 | DEBUG    | pysus.online_data.SIM:download:82 - DORJ2017.DBC removed
2023-01-17 21:02:50.251 | DEBUG    | pysus.online_data.SIM:download:62 - Stablishing connection with ftp.datasus.gov.br.
220 Microsoft FTP Service
2023-01-17 21:02:50.284 | DEBUG    | pysus.online_data.SIM:download:64 - Changing FTP work dir to: /dissemin/publicos/SIM/CID10/DORES

Banco de 2017 de RJ baixado!

2023-01-17 21:04:22.227 | INFO     | pysus.online_data.SIM:download:79 - Data stored as parquet at /Users/luisurso/pysus/SIM_DOSP2018_.parquet
2023-01-17 21:04:22.230 | DEBUG    | pysus.online_data.SIM:download:82 - DOSP2018.DBC removed
2023-01-17 21:04:22.391 | DEBUG    | pysus.online_data.SIM:download:62 - Stablishing connection with ftp.datasus.gov.br.
220 Microsoft FTP Service
2023-01-17 21:04:22.428 | DEBUG    | pysus.online_data.SIM:download:64 - Changing FTP work dir to: /dissemin/publicos/SIM/CID10/DORES

Banco de 2018 de SP baixado!

2023-01-17 21:05:02.059 | INFO     | pysus.online_data.SIM:download:79 - Data stored as parquet at /Users/luisurso/pysus/SIM_DORJ2018_.parquet
2023-01-17 21:05:02.062 | DEBUG    | pysus.online_data.SIM:download:82 - DORJ2018.DBC removed

Banco de 2018 de RJ baixado!

#Concatena todas as bases de dados recebidas (FTP download)

In [5]:
import pandas as pd

todos = pd.concat({ k: pd.DataFrame.from_dict(v) for k, v in banco.items() }, axis=0).reset_index()

In [6]:
todos.head()

,level_0,level_1,level_2,CONTADOR,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,...,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
0,SP,2017,0,1,1,2,08072017,1232,835,350400,...,,,,,,,,,,
1,SP,2017,1,2,1,2,13062017,0810,835,353870,...,13092017,SXSXXX,,M,,,,,,
2,SP,2017,2,3,1,2,05072017,1100,827,270170,...,21072017,XSXXXS,,M,,,,,,
3,SP,2017,3,4,1,2,23062017,1910,835,350290,...,,,,,,,,,,
4,SP,2017,4,5,1,2,07062017,0551,835,350290,...,,,,,,,,,,